<!DOCTYPE html>
<html ng-app="itcApp">
    <head>
        <title>itc</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="_/images/favicon.png">
        <link href="_/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="_/css/default.css" rel="stylesheet" type="text/css"/>
        <!--<link href="./css/default.css" rel="stylesheet" type="text/css"/>-->

    </head>
    <body>
        <div class="mainContainer" ng-controller="mainController">
            <div class="warper">
                <div class="leftNav">
                    <div class="logoSection">Logo</div>
                    <div class="lNavigation" ng-controller="navController">
                        <ul class="nav1">
                            <li ng-repeat="(k, item) in navItems" ng-mouseover="arrow = true" ng-mouseleave="arrow = false">
                                <a ng-href="{{item.link}}">
                                    {{item.name}}
                                    <i class="glyphicon " ng-class="arrow == true ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-right'"  ng-if="item.subnav.length > 0"></i>
                                </a>
                                <ul class="nav2" ng-if="item.subnav.length > 0">
                                    <li ng-repeat="(a, b) in item.subnav">
                                        <a ng-href="{{b.link}}">{{b.name}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="rightBody">
                    <div class="headerContainer">Header Container</div>
                    <div class="bodyContainer">
                        <div ng-view></div>
                    </div>
                    <div class="footerContainer">footer Container</div>
                </div>
            </div>
        </div>


        <script src="_/js/jquery-2.2.4.min.js" type="text/javascript"></script>
        <script src="_/js/bootstrap.min.js" type="text/javascript"></script>

        <script src="_/js/angular.min.js" type="text/javascript"></script>
        <script src="_/js/angular-route.min.js" type="text/javascript"></script>
        <script src="_/js/angular-cookies.min.js" type="text/javascript"></script>
        <script src="_/js/angular-animate.min.js" type="text/javascript"></script>
        <script src="_/js/angular-sanitize.min.js" type="text/javascript"></script>

        <script src="configuration/routes.js" type="text/javascript"></script>
        <script src="configuration/app.js" type="text/javascript"></script>

        <script src="services/websql.js" type="text/javascript"></script>
        <script src="services/services.js" type="text/javascript"></script>

        <script src="controller/mainCtrl.js" type="text/javascript"></script>
        <script src="controller/navCtrl.js" type="text/javascript"></script>

        <script src="controller/homeCtrl.js" type="text/javascript"></script>
        <script src="controller/loginCtrl.js" type="text/javascript"></script>
        <script src="controller/dashboardCtrl.js" type="text/javascript"></script>
    </body>
</html>
