html, body{
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}
.mainContainer{
    display: block;
}
.mainContainer .warper{
    display: block;
}
.mainContainer .leftNav,
.mainContainer .rightBody{
    display: inline-block;
    margin-right: -5px;
    vertical-align: top;
}
.mainContainer .leftNav{
    width: 15%;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    background-color: #f2f2f2;
    box-shadow: 1px 0px 3px #bbb;
    outline: none;
}
.mainContainer .rightBody{
    width: 85%;
    min-width: 500px;
    position: relative;
    left: 15%;
}

.leftNav .logoSection{
    display: block;
    padding: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.leftNav .lNavigation{
    display: block;
}
.leftNav .lNavigation ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.leftNav .lNavigation ul.nav1>li{
    display: block;
    background-color: #888;
    border-bottom: 1px solid #ccc;
}
.leftNav .lNavigation ul.nav1>li:last-child{
    border-bottom: none;
}
.leftNav .lNavigation ul.nav1>li>a{
    display: block;
    padding: 8px 20px;
    padding-right: 3px;
    color: #fff;
    text-decoration: none;
}
.leftNav .lNavigation ul.nav1>li>a>i{
    float: right;
    font-size: 0.86em;
    color: #000;
}
.leftNav .lNavigation ul.nav1>li>ul>li>a{
    display: block;
    padding: 8px 20px;
    color: #ddd;
    background-color: #555;
    text-decoration: none;
}
.leftNav .lNavigation ul.nav1>li>ul>li:first-child{
    display: block;
    border-top: 1px solid #ccc;
}
.leftNav .lNavigation ul.nav1>li>ul>li>a:hover{
    color: #ddd;
    background-color: #444;
}

/*  Main Body Styles */
.mainContainer .rightBody{
    padding: 0px;
}
.mainContainer .rightBody .headerContainer{
    padding: 8px 20px;
}
.mainContainer .rightBody .bodyContainer{
    display: block;
    height: 1500px;
    padding: 20px;
    margin-bottom: 40px;
}
.mainContainer .rightBody .footerContainer{
    display: block;
    background-color: #ccc;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 8px 0px;
}



/* when hiding the thing */
.ng-hide-add         { 
    -webkit-animation:0.5s lightSpeedOut ease; 
    animation:0.5s lightSpeedOut ease; 
}

/* when showing the thing */
.ng-hide-remove      { 
    -webkit-animation:0.5s flipInX ease; 
    animation:0.5s flipInX ease; 
}

/* ANIMATIONS (FROM ANIMATE.CSS) */

/* flip in */
@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    100% {
        -webkit-transform: perspective(400px);
        -ms-transform: perspective(400px);
        transform: perspective(400px);
    }
}

/* light speed out */
@-webkit-keyframes lightSpeedOut {
    0% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0;
    }
}

@keyframes lightSpeedOut {
    0% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
        -ms-transform: translate3d(100%, 0, 0) skewX(30deg);
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0;
    }
}